/*
Theme Name: Innova
Author: Neos
Description: Template for innova.lu website
Version: 0.0.1
Tags: bootstrap
*/

html {
    overflow-x: hidden;
    width: 100%;
}

/* header */
.full-height {
    height: 100vh;
}

section {
    margin-bottom: 4em;
}

.container-fluid {
    position: relative;
    width: 70%;
}

a, h3 {
    color: rgb(0, 158, 214);
}

a:hover, a:focus {
    color: rgba(0, 158, 214, 0.7);
    text-decoration: none;
}

h3 {
    padding: 1em 0 2em 0;
    margin: auto;
    text-align: center;
}

header .carousel-indicators > li:hover,
.realisation-nav-div .nav-link:hover,
.img-container:hover,
.text:hover,
.blog-item .img-fluid:hover {
    cursor: pointer;
}
/* tables */
tr {
    border-bottom: 3px solid lightgrey;
}
/* Buttons */
.btn {
    border-radius:0;
}

.btn-info {
    background-color: rgb(0, 158, 214);
}

.btn-info:hover {
    background-color: rgba(0, 158, 214,0.7);
    border-color: rgba(0, 158, 214,0.7);
}

.btn-submit {
    min-width: 140px;
}

.btn-light {
    margin: 0.5em 2em;
}

textarea {
    min-height: 130px;
}

.header-area > nav {
    padding: 2em 2.5em !important;
}

/* Carousel */
header .carousel {
    filter: brightness(85%);
    overflow: hidden;
    position: absolute;
    width: 100%;
}

header .carousel, header .carousel-inner, header .carousel-item {
    height: 100%;
}

header .carousel-item > img {
    min-height: 100%;
    min-width: 100%;
}

header .carousel-control-next, header .carousel-control-prev {
    width: 5%;
}

/* navbar */
nav .nav-item {
    margin-left: 20px;
}

.nav-link {
    font-size: 20px;
}

.header-content {
    display: table;
    height: 70%;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
}

.header-content > div {
    display: table-cell;
    vertical-align: middle;
}

/* 'Realisation' & 'Nous contacter' link */
.header-link-div {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
    width: 90%;
    z-index: 99;
}

.header-link-div > a {
    font-size: 20px;
    min-width: 175px;
}

.header-title h1 {
    color: white;
    margin-bottom: 3em;
    position: relative;
    width: 100%;
    z-index: 1;
}

/*introduction section*/
.introduction {
    text-align: center;
}

.introduction h4 {
    margin-top: 1em;
}

.labels-div {
    display: block;
    justify-content: center;
    margin-top: 1em;
    position: relative;
    width: 100%;
}

.labels-div img {
    background: white;
    border-radius: 5px;
    margin: 0 15px;
    max-height: 110px;
    padding: 10px;
}

.labels-div img:hover {
    transform: scale(1.05);
}

.labels-div > div {
    display: inline;
}

/* Realisation section */
.realisation-nav-div {
    margin-bottom: 2em;
}

.realisation-nav-div .nav-link {
    color: #212529;
    display: initial;
    font-size: 1.5rem;
    font-weight: 500;
}

.realisation-nav-div .nav-link:hover {
    color: rgba(33, 37, 41, 0.6);
}

.realisation-img-div {
    padding: 0 15px;
}

.img-container {
    height : 200px ;
    min-width : 300px ;
    background: rgb(0, 172, 241);
    border: 1px solid white;
    display: block;
    float: left;
    overflow: hidden;
    padding: 0;
    position: relative;
}

.img-container .image {
    backface-visibility: hidden;
    background: white;
    background-size: cover;
    display: block;
    opacity: 1;
    transition: .5s ease;
}

.middle {
    left: 50%;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    transition: .5s ease;
}

.middle .date {
    color: white;
}

.img-container:hover .image {
    opacity: .6;
    transform: scale(1.1);
    transition: .25s ease;
    z-index: 1;
}

.img-container:hover .middle {
    opacity: 1;
}

.img-container:hover .text {
    opacity: 1;
}

/* realisation image text*/
.text {
    color: white;
    cursor: default;
    font-size: 1.5em;
    font-weight: bold;
    opacity: 1;
    padding: 16px 32px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.text:hover {
    color: white;
    text-decoration: none;
}

/* Blog section */
.blog-section h4 {
    margin-bottom: 2em;
}

.blog-item {
    margin-bottom: 15px;
}

.blog-item p {
    margin-bottom: 5px;
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Contact section */
.form-group {
    display: flex;
    flex-direction: column;
}

.informations-part .fas {
    min-width: 20px;
}

form span {
    width : 100%;
}

form span input, textarea {
    width: 100%;
}

/* footer */
footer {
    background-color: darkgray;
    padding: 1.5em 0;
}

.copyright{
    border-right: 1px solid #212529;
    min-width: 240px;
}

.copyright p {
    color: white;
    padding-left: 40px;
}

/* footer 'Qui sommes-nous, Contact' link + Social media*/

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links a {
    color: white;
}

.footer-links a:hover {
    color: rgba(33,37,41, 0.8);
}

.social-media {
    font-size: 30px;
    margin: 1em;
    margin-left: 0;
}

.social-media i {
    margin: .1em;
}

.footer-labels {
    position: absolute;
    right: 0;
}

.footer-labels .row {
    float: right;
    justify-content: flex-end;
    max-width: 200px;
}

.footer-labels .label {
    background: white;
    margin: 2px;
    padding: 5px;
}

.footer-labels .label img {
    height: 50px;
}


/* Modal */
/*
.modal-body .container {
    margin: 15px 0px;
}
*/
.modal-content {
    border-radius: 0;
}
.variable-width {
    height : 400px;
}
.variable-width img {
    height : 300px;
    margin : 20px;
}

/* Realisation Page */

.blogTitle {
    align-items: center;
    background: url("img/IMG_3136.jpg") no-repeat fixed center;
    background-size: cover;
    color: white;
    display: flex;
    height: 10em;
    justify-content: center;
    margin-bottom: 2em;
    position: relative;
}

.content {
    margin-bottom: 30px;
}

/* Blog page */

.blog-container {
    flex-direction: row-reverse;
}

/* Blog categorie list */
.categories {
    padding-left: 30px;
}

.categories h4{
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
}

.categories h4:after{
    background: rgb(0, 158, 214);
    bottom: 0;
    content: "";
    height: 4px;
    left: 0;
    position: absolute;
    width: 49px;
}

.categories ul {
    list-style: none;
    padding-left: 0;
}

.categories ul li {
    margin-bottom: 10px;
}

.categories ul li a {
    color: #212529;
    font-size: 18px;
}

.categories ul li a:hover {
    color: rgba(33, 37, 41, 0.7);
    font-size: 18px;
}

/* Blog item */

.blog-div {
    margin-bottom: 20px;
}

.blog-div img {
    margin-bottom: 10px;
}

.btn-other-blog {
    justify-content: center;
    margin-bottom: 30px;
}

.btn-other-blog .btn{
    width: 100px;
}

.img-blog {
    margin-bottom: 20px !important;
}

@media (max-width: 1500px){
    .carousel-item > img {
        width: auto;
    }
}

@media (max-width: 1199px) and (min-width: 992px) {
    .contact-form .form-group {
        flex: none;
        max-width: none;
        width: 100%;
    }
}

@media(max-width: 991px) {
    .container-fluid {
        width: 90% !important;
    }

    .navbar-nav {
        padding-top: 2em;
    }

    .navbar-collapse {
        background: rgba(78, 78, 78, 0.8);
        box-shadow: 0px 0px 5px 6px rgba(255, 255, 255, 0.11);
        padding: 0px 19px;
        position: absolute;
        right: 36px;
        top: 115px;
        width: auto;
        z-index: 100;
    }

    .navbar-nav {
        padding-top: 0;
    }

    .navbar-light .navbar-nav .nav-link {
        color: rgba(255, 255, 255, 0.8);
    }


    .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
        color: white;
    }

    nav .nav-item {
        margin-left: 0;
    }
}

@media(max-width: 991px) and (max-height: 550px) {
    .navbar-collapse {
        top: 80px;
    }
}

@media(min-width: 768px) {
    .contact-form {
        padding-right: 50px;
    }

    .informations-part {
        border-left: 1px solid #212529;
        padding-left: 50px;
    }

    .footer-links {
        display: inline-flex;
    }
}

@media(max-width: 767px) {
    .container-fluid {
        width: 100% !important;
    }

    .realisation-img-div {
        padding-right: 0 !important;
    }

    .contact-form {
        margin-bottom: 50px;
    }

    .copyright, .footer-links > div{
        text-align: center;
    }

    .copyright p {
        padding-left: 0;
    }

    .footer-labels {
        position: relative;
    }

    .footer-labels .row {
        float: none;
        margin-left: auto;
        margin-right: auto;
        max-width: none;
        text-align: center;
        width: 325px;
    }

    .social-media {
        margin-right: 0;
    }

    .navbar-collapse {
        left: 5%;
        right: auto;
        width: 90%;
    }
}

@media(max-width: 575px) {
    .header-area > nav {
        padding: 2em 1em !important;
    }
}

@media(max-width: 375px) {
    .navbar-brand > img {
        width: 165px;
    }

    .carousel-control-next, .carousel-control-prev {
        width: 10%;
    }

    .header-link-div {
        width: 80%;
    }

    .header-link-div > a {
        margin-left: 0;
        margin-right: 0;
    }

    .footer-labels .row {
        width: 165px;
    }
}

@media(max-height: 800px) {
    .header-area nav {
        padding-bottom: 1em !important;
    }
}

@media(max-height: 650px) {
    .header-area nav {
        padding-bottom: 0 !important;
    }
}

@media(max-height: 550px) {
    .header-title h1 {
        margin-bottom: 2em;
    }
}

@media(max-height: 550px) {
    .header-area nav {
        padding-top: 0 !important;
    }
}

@media(max-height: 450px) and (min-width: 450px) {
    .header-title h1 {
        margin-bottom: 0.5em;
    }
}

@media(max-height: 420px) {
    .header-title h1 {
        margin-bottom: 1em;
    }
}

.front-btn {
    background-color: #a8a7ac;
    border-radius: 15px;
    border-color: #a8a7ac;
    color: white;
}

.activeCat {
    color: rgb(0, 158, 214) !important;
}

.companyInfo {
    color: white;
}

.logo-footer {
    width: 100%;
}

.logo-main {
    width: 100%;
}

#icon_wrapper {
    padding-right: 10px;
}